{% extends "base.html" %}


{% block title %}
Rejestracja
{% endblock %}


{% block body %}
<main>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="justify-content-end align-items-center g-lg-5 py-5">
            <div class="text-center">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3" style="
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                  serif;
              ">
                    Rejestracja
                </h1>
                <p class="fs-4">
                    Dziękujemy za rejestrację konta.
                </p>

                <p class="fs-4">
                    Na użyty adres email wysłaliśmy link aktywujący konto.
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}