label.error {
    color: red;
    display: block;
    width: 100%;
    padding-top: 0.5rem;
  }

fieldset label.error {
		display: none;
	}

.chartBox {
  width: 350px;
  padding: 0px;
}

svg.red {
  fill: red;
}

.pointer {
  cursor: pointer
}

tr.income:hover, tr.expense:hover {
  font-weight: bold;
}

svg.rotated {
  transform: rotate(180deg);
}