{% extends "base.html" %}

{% block title %}
Ustawienia
{% endblock %}

{% block footer %}
<script>function getUserID() { return '{{current_user.user_id}}'; }
</script>
<script src="/js/propertiesValidators.js"></script>
<script src="/js/passwordValidator.js"></script>
<script src="/js/showHidePassword.js"></script>
{% endblock %}

{% block body %}
<main>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="p-4 p-md-5 rounded-3 bg-body">
      <h1 class="m-0 pb-4 pb-md-5 lh-1">Ustawienia</h1>
      <div class="g-4 row row-cols-1 row-cols-md-2">
        <div class="col">
          <h2 class="fs-2 text-body-emphasis">Przychody</h2>
          <div class="mb-3">
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseAddIncomeCategory" aria-expanded="{{addedIncomeCategory.errors is not empty ? "
              true" :"false" }}" aria-controls="collapseAddIncomeCategory">
              Dodaj nową kategorię
            </button>
            <div class="collapse {{addedIncomeCategory.errors is not empty ? " show" :"" }}"
              id="collapseAddIncomeCategory">
              <div class="card card-body">
                <form id="formAddIncomeCategory" method="post" action="/properties/add-income-category">
                  {% if addedIncomeCategory.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in addedIncomeCategory.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="mb-3 input-group">
                    <span class="input-group-text bg-body-secondary border-secondary-subtle"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                      </svg></span>
                    <input type="text" class="form-control border-secondary-subtle" placeholder="Kategoria"
                      name="category" value="{{addedIncomeCategory.category}}" required />
                  </div>

                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Dodaj" />
                </form>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseChangeIncomeCategory"
              aria-expanded="{{changedIncomeCategory.errors is not empty ? " true" :"false" }}"
              aria-controls="collapseChangeIncomeCategory">
              Edytuj kategorię
            </button>
            <div class="collapse {{changedIncomeCategory.errors is not empty ? " show" :"" }}"
              id="collapseChangeIncomeCategory">
              <div class="card card-body">
                <form id="formChangeIncomeCategory" method="post" action="/properties/change-income-category">
                  {% if changedIncomeCategory.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in changedIncomeCategory.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="mb-3">
                    <select class="form-select" aria-label="Wybierz kategorię" name="oldCategory" required>
                      <option value="" selected>Wybierz kategorię</option>
                      {% for income_category in income_categories %}
                      <option value="{{income_category.category_id}}">{{income_category.category}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="mb-3 input-group">
                    <span class="input-group-text bg-body-secondary border-secondary-subtle"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                      </svg></span>
                    <input type="text" class="form-control border-secondary-subtle" placeholder="Nowa nazwa kategorii"
                      name="category" value="{{changedIncomeCategory.category}}" required />
                  </div>

                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Zmień" />
                </form>
              </div>
            </div>
          </div>

          <div>
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseDeleteIncomeCategory"
              aria-expanded="{{deletedIncomeCategory.errors is not empty ? " true" :"false" }}"
              aria-controls="collapseDeleteIncomeCategory">
              Usuń kategorię
            </button>
            <div class="collapse {{deletedIncomeCategory.errors is not empty ? " show" :"" }}"
              id="collapseDeleteIncomeCategory">
              <div class="card card-body">
                <form id="formDeleteIncomeCategory" method="post" action="/properties/delete-income-category">
                  {% if deletedIncomeCategory.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in deletedIncomeCategory.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <p class="text-primary">Usunięcie kategorii spowoduje usunięcie przypisanych do niej
                    przychodów.</p>
                  <div class="mb-3">
                    <select class="form-select" aria-label="Wybierz kategorię" name="oldCategory" required>
                      <option value="" selected>Wybierz kategorię</option>
                      {% for income_category in income_categories %}
                      <option value="{{income_category.category_id}}">{{income_category.category}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Usuń" />
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <h2 class="fs-2 text-body-emphasis">Wydatki</h2>

          <div class="mb-3">
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseAddExpenseCategory" aria-expanded="{{addedExpenseCategory.errors is not empty ? "
              true" :"false" }}" aria-controls="collapseAddExpenseCategory">
              Dodaj nową kategorię
            </button>
            <div class="collapse {{addedExpenseCategory.errors is not empty ? " show" :"" }}"
              id="collapseAddExpenseCategory">
              <div class="card card-body">
                <form id="formAddExpenseCategory" method="post" action="/properties/add-expense-category">
                  {% if addedExpenseCategory.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in addedExpenseCategory.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="mb-3 input-group">
                    <span class="input-group-text bg-body-secondary border-secondary-subtle"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                      </svg></span>
                    <input type="text" class="form-control border-secondary-subtle" placeholder="Kategoria"
                      name="category" value="{{addedExpenseCategory.category}}" required />
                  </div>

                  <div class="mb-3 form-check">
                    <input class="form-check-input collapsed" aria-expanded="false" data-bs-toggle="collapse"
                      data-bs-target="#add_category_add_limit" aria-controls="add_category_add_limit" type="checkbox"
                      role="button" name="setLimit" id="flexCheckDefault" {% if addedExpenseCategory.setLimit %} checked
                      {% endif %}>
                    <label class="form-check-label" for="flexCheckDefault">
                      Ustaw limit wydatków dla kategorii
                    </label>
                  </div>

                  <div class="collapse" id="add_category_add_limit">
                    <div class="mb-3">
                      <label for="categoryLimit" class="form-label">Podaj limit wydatków dla kategorii</label>
                      <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-123" viewBox="0 0 16 16">
                            <path
                              d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961h1.174Zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057h1.138Zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75v.96Z" />
                          </svg>
                        </span>
                        <input type="number" class="form-control border-secondary-subtle"
                          id="add_expense_category_limit" name="limit" value="{{addedExpenseCategory.limit ?? 0.00}}"
                          placeholder="123,45" min=0.00 any">
                      </div>
                    </div>


                  </div>

                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Dodaj" />
                </form>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseChangeExpenseCategory"
              aria-expanded="{{changedExpenseCategory.errors is not empty ? " true" :"false" }}"
              aria-controls="collapseChangeExpenseCategory">
              Edytuj kategorię
            </button>
            <div class="collapse {{changedExpenseCategory.errors is not empty ? " show" :"" }}"
              id="collapseChangeExpenseCategory">
              <div class="card card-body">
                <form id="formChangeExpenseCategory" method="post" action="/properties/change-expense-category">
                  {% if changedExpenseCategory.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in changedExpenseCategory.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="mb-3">
                    <select class="form-select" aria-label="Wybierz kategorię" name="oldCategory" required>
                      <option value="" selected>Wybierz kategorię</option>
                      {% for payment_category in payment_categories %}
                      <option value="{{payment_category.category_id}}">{{payment_category.category}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3 input-group">
                    <span class="input-group-text bg-body-secondary border-secondary-subtle"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                      </svg></span>
                    <input type="text" class="form-control border-secondary-subtle" placeholder="Nowa nazwa kategorii"
                      name="category" value="{{changedExpenseCategory.category}}" required />
                  </div>

                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Zmień" />
                </form>
              </div>
            </div>
          </div>

          <div>
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseDeleteExpenseCategory"
              aria-expanded="{{deletedExpenseCategory.errors is not empty ? " true" :"false" }}"
              aria-controls="collapseDeleteExpenseCategory">
              Usuń kategorię
            </button>
            <div class="collapse {{deletedExpenseCategory.errors is not empty ? " show" :"" }}"
              id="collapseDeleteExpenseCategory">
              <div class="card card-body">
                <form id="formDeleteExpenseCategory" method="post" action="/properties/delete-expense-category">
                  {% if deletedExpenseCategory.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in deletedExpenseCategory.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <p class="text-primary">Usunięcie kategorii spowoduje usunięcie przypisanych do niej
                    wydatków.</p>
                  <div class="mb-3">
                    <select class="form-select" aria-label="Wybierz kategorię" name="oldCategory">
                      <option value="" selected>Wybierz kategorię</option>
                      {% for payment_category in payment_categories %}
                      <option value="{{payment_category.category_id}}">{{payment_category.category}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Usuń" />
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <h2 class="fs-2 text-body-emphasis">Metody płatności</h2>
          <div class="mb-3">
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseAddPaymentMethod" aria-expanded="{{addedPaymentMethod.errors is not empty ? "
              true" :"false" }}" aria-controls="collapseAddPaymentMethod">
              Dodaj nową metodę płatności
            </button>
            <div class="collapse {{addedPaymentMethod.errors is not empty ? " show" :"" }}"
              id="collapseAddPaymentMethod">
              <div class="card card-body">
                <form id="formAddPaymentMethod" method="post" action="/properties/add-payment-method">
                  {% if addedPaymentMethod.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in addedPaymentMethod.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="mb-3 input-group">
                    <span class="input-group-text bg-body-secondary border-secondary-subtle"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                      </svg></span>
                    <input type="text" class="form-control border-secondary-subtle" placeholder="Metoda płatności"
                      name="method" value="{{addedPaymentMethod.method}}" required />
                  </div>

                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Dodaj" />
                </form>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseChangePaymentMethod"
              aria-expanded="{{changedPaymentMethod.errors is not empty ? " true" :"false" }}"
              aria-controls="collapseChangePaymentMethod">
              Edytuj metodę płatności
            </button>
            <div class="collapse {{changedPaymentMethod.errors is not empty ? " show" :"" }}"
              id="collapseChangePaymentMethod">
              <div class="card card-body">
                <form id="formChangePaymentMethod" method="post" action="/properties/change-payment-method">
                  {% if changedPaymentMethod.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in changedPaymentMethod.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="mb-3">
                    <select class="form-select" aria-label="Wybierz metodę płatności" name="oldMethod" required>
                      <option value="" selected>Wybierz metodę płatności</option>
                      {% for payment_method in payment_methods %}
                      <option value="{{payment_method.method_id}}">{{payment_method.method}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3 input-group">
                    <span class="input-group-text bg-body-secondary border-secondary-subtle"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                      </svg></span>
                    <input type="text" class="form-control border-secondary-subtle" placeholder="Nowa nazwa płatności"
                      name="method" required />
                  </div>

                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Zmień" />
                </form>
              </div>
            </div>
          </div>

          <div>
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseDeletePaymentMethod"
              aria-expanded="{{deletedPaymentMethod.errors is not empty ? " true" :"false" }}"
              aria-controls="collapseDeletePaymentMethod">
              Usuń metodę płatności
            </button>
            <div class="collapse {{deletedPaymentMethod.errors is not empty ? " show" :"" }}"
              id="collapseDeletePaymentMethod">
              <div class="card card-body">
                <form id="formDeletePaymentMethod" method="post" action="/properties/delete-payment-method">
                  {% if deletedPaymentMethod.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in deletedPaymentMethod.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="mb-3">
                    <select class="form-select" aria-label="Wybierz metodę płatności" name="oldMethod">
                      <option value="" selected>Wybierz metodę płatności</option>
                      {% for payment_method in payment_methods %}
                      <option value="{{payment_method.method_id}}">{{payment_method.method}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Usuń" />
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <h2 class="fs-2 text-body-emphasis">Użytkownik</h2>
          <div class="mb-3">
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseChangeUserData" aria-expanded="{{current_user.errors is not empty ? " true"
              :"false" }}" aria-controls="collapseChangeUserData">
              Zmień dane użytkownika
            </button>
            <div class="collapse {{changedUserData.errors is not empty ? " show" :"" }}" id="collapseChangeUserData">
              <div class="card card-body">
                <form id="formChangeUserData" method="post" action="/properties/change-user-data">
                  {% if changedUserData.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in changedUserData.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="mb-3 input-group">
                    <span class="input-group-text bg-body-secondary border-secondary-subtle">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                      </svg>
                    </span>
                    <input type="text" class="form-control border-secondary-subtle" placeholder="Imię" name="name"
                      value="{{current_user.name}}" required />
                  </div>

                  <div class="mb-3 input-group">
                    <span class="input-group-text bg-body-secondary border-secondary-subtle">@</span>
                    <input type="email" class="form-control border-secondary-subtle" placeholder="Adres email"
                      name="email" value="{{current_user.email}}" required />
                  </div>

                  <div class="mb-3 input-group">
                    <span class="input-group-text bg-body-secondary border-secondary-subtle">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-key-fill" viewBox="0 0 16 16">
                        <path
                          d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                      </svg>
                    </span>
                    <input type="password" class="form-control border-secondary-subtle" placeholder="Hasło"
                      name="password" style="z-index: 2;" id="inputPassword" />

                    <button id="showPassword" type="button"
                      class="btn btn-outline-secondary position-absolute top-0 end-0" style="z-index: 3;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"></path>
                        <path
                          d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7">
                        </path>
                      </svg>
                    </button>
                  </div>

                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Zmień dane" />
                </form>
              </div>
            </div>
          </div>

          <div>
            <button class="w-100 btn btn-lg btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseDeleteUser" aria-expanded="{{deletedUser.errors is not empty ? " true" :"false"
              }}" aria-controls="collapseDeleteUser">
              Usuń konto
            </button>
            <div class="collapse {{deletedUser.errors is not empty ? " show" :"" }}" id="collapseDeleteUser">
              <div class="card card-body">
                <form id="formDeleteUser" method="post" action="/properties/delete-user">
                  {% if deletedUser.errors is not empty %}
                  <p>Błędy: </p>
                  <ul>
                    {% for error in deletedUser.errors %}
                    <li><label>{{ error }}</label></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="mb-3">
                    <fieldset>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck" name="confirm" required />
                        <label class="form-check-label" for="dropdownCheck">
                          Czy napewno chcesz usunąć konto?
                        </label>
                        <label for="confirm" class="error">aaaWymagane potwierdzenie.</label>
                      </div>
                    </fieldset>
                  </div>
                  <input class="w-100 btn btn-primary btn-lg" type="submit" value="Usuń" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />

      <a href="/" class="w-100 btn btn-lg btn-outline-primary">
        Powrót do menu głównego
      </a>
    </div>
  </div>
</main>
{% endblock %}