{% extends "base.html" %}

{% block title %}
BudgetManager - zaloguj się lub zarejestruj
{% endblock %}


{% block body %}
<main>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3" style="
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                  serif;
              ">
          Budget Manager
        </h1>
        <p class="col-lg-10 fs-4">
          Zacznij kontrolować swój budżet już dziś
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <div class="p-4 p-md-5 border rounded-3 bg-body">
          <form method="post" action="/login/create">

            {% for message in flash_messages %}
            <div class="alert alert-{{message.type}} text-center">
              {{message.body}}
            </div>
            {% endfor %}

            <div class="mb-3 input-group">
              <span class="input-group-text bg-body-secondary border-secondary-subtle">@</span>
              <input type="email" class="form-control border-secondary-subtle" placeholder="Adres email" name="email"
                value="{{email}}" required />
            </div>

            <div class="mb-3 input-group">
              <span class="input-group-text bg-body-secondary border-secondary-subtle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-key-fill" viewBox="0 0 16 16">
                  <path
                    d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
              </span>
              <input type="password" class="form-control border-secondary-subtle" placeholder="Hasło" name="password"
                required />
            </div>

            <div class="mb-3 form-check">
              <input id="flexCheckDefault" class="form-check-input" type="checkbox" name="remember_me" {% if remember_me
                %} checked=checked {% endif %}>
              <label class="form-check-label" for="flexCheckDefault">
                Nie wylogowuj mnie
              </label>
            </div>

            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Zaloguj się" />
          </form>
          <hr class="my-4" />
          <a href="/register" class="w-100 btn btn-lg btn-outline-primary">
            Zarejestruj się
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}